@media only screen and (min-width: 1140px) {

.header-btn-sm {
    display: none;
}

.shortcut-container-desktop {
    display: block;
    float: right;
}
.search-container {
    float: left;
    margin-right: 15px;
}
.sub-nav-search-box {
    float: left;
    border-top: 2px solid #c9c8c7;
    border-left: 2px solid #c9c8c7;
    border-bottom: 2px solid #c9c8c7;
    border-right: none;
    height: 30px;
}

.sub-nav-search-btn {
    background-color: #425363;
    color: white;
    border: 2px solid #425363;
    height: 30px;
    font-size: 1.1em;
    cursor: pointer;
}

.shortcut-btn {
    height: 70px;
    width: 70px;
    background-color: #f98d29;
    border: none;
    color: white;
    margin: 0 2px;
}
.shortcut-btn-icon {
    font-size: 3em;
}
.shortcut-btn-text {
    font-size: 0.7em;
}

/* <---- NAV BAR ----> */
.welcome-user {
    display: flex;
    background-color: #a3a3a3;
    flex-grow: 0;
    border-left: 2px solid white;
    border-right: 2px solid white;
    font-size: .7em;
    text-transform: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 25%;
}
.welcome-user span {
    text-transform: uppercase;
}

nav ul {
    justify-content: space-between;
}
nav ul li {
    padding: 15px 0;
    text-align: left;
    flex-grow: 0;
}
nav ul li:nth-child(3) {
    flex-grow: 0;
}

nav ul li:nth-child(4){
    text-align: left;
    flex-grow: 0;
}


/* <----- CONTENT -----> */

.item-container {
    width: 33.33%;
}
.item-container:nth-of-type(1) {
    order: 2;
}
.item-container:nth-of-type(2) {
    order: 5;
}
.item-container:nth-of-type(3) {
    order: 3;
}
.item-container:nth-of-type(4) {
    order: 1;
}
.item-container:nth-of-type(5) {
    order: 4;
}
.item-container:nth-of-type(6) {
    order: 6;
}

.calendar-tile {
    width: 65px;
    height: 65px;
}
/* <---- SOCIAL LINKS ----> */

.body-bottom-container {
    flex-direction: row;
    flex-wrap: wrap-reverse;
}
.skyline-img-container, .highlighted-links {
    padding: 0;
}
.bottom-colorbar {
    order: 1;
}
.social-logos {
    align-self: auto;
    background-color: white;
    order: 2;
    padding-bottom: 10px;
    padding-left: 6%;
}
.highlighted-links {
    align-self: auto;
    background-color: white;
    order: 3;
    padding-bottom: 15px;
}
.skyline-img-container {
    order: 4;
}
.social-links {
    margin: 1.5em 0 0.5em 0;
}


/* <---- FOOTER ----> */

footer {
    padding-left:6%;
}
.footer-2-col {
    width: 50%;
    float: left;
}

footer h2 {
    padding: 0 0 15px 0;
}

.footer-1-col {
    border-left: 2px solid rgba(255, 255, 255, 0.247);
    width: 25%;
    padding-left: 2em;
    height: 203.68px;
}

@media only screen and (min-width: 1400px) {
    body {
        font-size: 18px;
    }
}


} /*end of the media query */