html {-webkit-text-size-adjust: none; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    font-family: 'Open Sans', sans-serif;
	font-size: 16px;
    font-weight: 400;
    background-color: #425363;
}

h2 {
    text-transform: uppercase;
}

/*-----SIDE NAV -----*/

.sidenav {
    height: 100%;
    width: 330px;
    position: fixed;
    z-index: 1;
    top: 10px;
    right: -330px;;
    background-color: #595959;
    overflow: auto;
    transition: 0.5s;
}

.sidenav.open {
    right: 0px;
}

.main-menu > a {
    text-decoration: none;
    font-size: 25px;
}

#main {
    position: relative;
    transition: 0.5s;
    left: 0px;
    background-color: white;
}

#main.open {
    left: -330px;
}

.closebtn {
    float: right;
    color: white;
}

body.open {
    overflow: hidden;
}

.main-menu {
    border-bottom: 3px solid #363636;
    color: white;
    font-size: 20px;
    padding: 50px 20px 60px 20px;
}
.main-menu h2 {
    float:left;
    text-transform: uppercase;
}

.sub-menu-container {
    border-bottom: 3px solid #363636;
}
.sub-menu-header {
    color: white;
    padding: 15px;
}

.sub-menu-header h2 {
    display: inline;
    position: relative;
    top: -3px;
    padding-left: 7px;
}

.caret {
    font-size: 1.3em;
    position: relative;
    display: inline-block;
}

.sub-menu-container.open .caret {
    transform: rotate(90deg);
}

.sub-menu-container .caret {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
    position: relative;
    transition: 0.5s;
}

.sub-menu-items ul {
    padding-top: 14px;
}

.sub-menu-container .sub-menu-items {
    transition: 0.5s;
    overflow: hidden;
    max-height:0px;
    height: 0px;
    background-color: #363636;
    text-transform: uppercase;
}

.sub-menu-container.open .sub-menu-items {
    height: 200px;
    max-height: 210px;
    background-color: #363636;
    transition: 0.5s;
}

.sub-menu-items a {
    text-decoration: none;
}
 .sub-menu-items a li {
    list-style: square;
    padding: 9px 0;
    margin-left:17%;
    color: white;
    height: auto;
}  

.shortcut-container-mobile {
    background-color: #363636;
    padding: 8% 14%;
}

.shortcut-btn {
    height: 70px;
    width: 70px;
    background-color: #f98d29;
    border: none;
    color: white;
    margin: 5px 3px 5px 3px;
}

.shortcut-btn-icon {
    font-size: 3em;
    color: white;
}
.shortcut-btn-text {
    font-size: 0.7em;
    text-transform: uppercase;
    color: white;

}
/*----- END SIDE NAV -----*/


/*-----TOP COLOR BAR -----*/
.top-bar-caret {
    color: white;
    background-color: #425363;
    display: block;
    border-radius: 50%;
    padding: 0 2px 2px 2px;
    margin: 0 auto;
    width: 20px;
    z-index: 1;
}
.top-bar {
    height: 10px; 
    background-color: #425363;
    text-align: center;
}
/*-----TOP COLOR BAR END-----*/


/*-----HEADER -----*/

#header-wrapper {
    padding: 2em 1em;
}

.logo-container {
    color: rgb(53, 53, 53);
}

header h1 {
    font-size: 3em;
    float: left;
}

.header-btn-sm {
    background-color: #003DA7;
    color: white;
    border: none;
    height: 45px;
    width: 45px;
    font-size: 1.6em;
    margin-left: 0.3em;
    text-align: center;
    float:right;
}

.thin-bar-mobile {
    height: 3px;
    background-color: #f98d29;
    width: 100%;
}
.shortcut-container-desktop {
    display: none;
}
.primary-nav {
    display: none;
}
/*-----HEADER END -----*/


/*-----CONTENT -----*/

#content-wrapper {
    margin: 1em 0 0 0;
}
.content-container h2, h3 {
    padding: .75rem .2em 0 .75em;
    line-height: 1.2em;
}


.content-container {
    display: flex;
    flex-direction: column;
    margin: .5em;
}

.item-container {
    padding: 0 .5em;
}

.tile-item {
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    color: white;
    position: relative;
    margin-bottom: 4%;
}
.half-height {
    padding-bottom: 48%;
    margin-bottom: 4%;
}
.half-width {
    width: 48%;
    font-size: .8rem;
}

.left {
    float: left;
    margin-right: 2%;
}

.right {
    float: right;
    margin-left: 2%;
}

.half-width h2 {
    text-transform: none;
}

.img-full-width {
    width: 100%;
}

.img-partial-width {
    width: 43.5%;
    float: left;
    margin-right: .75em;
}

.date-stamp {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #C9C8C7;
    font-size: .6em;
}

.tile-item h2, .tile-item h3 {
    font-size: 1.1em;
}
.view-more {
    position: relative;
    float: right;
    top: 10px;
    right: 10px;
}
.view-more a {
    text-decoration: none;
}

.bg-color-1 {
    background-color: #003DA7;
}
.bg-color-2 {
    background-color: #f98d29;
}
.bg-color-3 {
    background-color: #606d77;
}
.bg-color-4 {
    background-color: #5d7e95;
}
.bg-color-5 {
    background-color: #595959;
}
.bg-color-6 {
    background-color: #C9C8C7;
    color: #425363
}

.collapse-header {
    padding: 2%;
    height: auto;
    transition: 0.3s;
    color: #425363;
}
.collapse-header h2 {
    display: inline;
    text-transform: uppercase;
}

.collapse-container-full .collapse-header {
    background-color: #f98d29;
    color: white;
    margin-bottom: .5em;
}

.tile-item.half-height.bg-color-6.open {
    height: 0;
    padding-bottom: 48%;
}

.tile-item.half-height.bg-color-6 {
    height: 0;
    padding-bottom: 2.2em;
    overflow: hidden;
    transition: 0.3s;
}

.tile-item.half-height.bg-color-6.open .caret {
    transform: rotate(90deg);
    position: relative;
}

.tile-item.half-height.bg-color-6 .caret {
    transition: 0.3s;
}

.tile-item.collapse-container-full {
    height: 0;
    padding-bottom: 2.4em;
    overflow: hidden;
    transition: 0.3s;
}
.tile-item.collapse-container-full.open {
    padding-bottom: 100%;
}

.tile-item.collapse-container-full.open .caret {
    transform: rotate(90deg);
    position: relative;
}

.tile-item.collapse-container-full .caret {
    transition: 0.3s;
}

.collapse-elements ul {
    padding: 0 1% 0 4%;
}
.collapse-elements li {
    margin-left: 1.3em;
    list-style: square;
    line-height: 1.3em;
}
.collapse-elements a {
    font-size: .7em;
    color: #425363;
}

.img-collapse {
    width: 28%;
    float: left;
    margin-right: .5em;
}
.collapse-item {
    color: rgb(3, 3, 3);
    padding: 1% 0;
}

.calendar-tile {
    float: left;
    width: 60px;
    height: 60px;
    background-color: #425363;
    position: relative;
    margin-right: .5em;
}
.calendar-text {
    position: absolute;
    color: white;
    bottom: 2px;
    right: 4px;
    font-size: .8em;
}

.date {
    font-size: 1.8em;
    font-weight: 600;
}

.collapse-text {
    font-size: .8rem;
    line-height: 1.1rem;
}
.collapse-text h3 {
    font-weight: 600;
    padding: 2% 0 0 0;
}
.collapse-text p {
    font-size: .8rem;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/*-----CONTENT END -----*/


/*----- SOCIAL LINKS & CITYSCAPE -----*/

.body-bottom-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
}

.highlighted-links, .social-logos, .skyline-img-container {
    padding: 0 1em;
}

.highlighted-links {
    align-self: stretch;
    background-color: #425363;
    padding: 1em;
}
.highlighted-links a {
    color: #f98d29;
    font-weight: 600;
    font-size: .7em;
    text-decoration: none;
}
.highlighted-links span {
    padding-right: 2em;
}

.social-logos {
    align-self: stretch;
    background-color: #425363;
}
.social-logos span {
    padding-right: .5em;
}

.social-logos span img {
    width: 20px;
}
.social-logos a {
    text-decoration: none;
}

.skyline-img-container{
    align-self: flex-end;
}
.skyline-img {
    width: 300px;
    position: relative;
    top: 3px;
}

.bottom-colorbar {
    width: 100%;
    height: 15px;
    background-color: #5d7e95;
}
/*----- SOCIAL LINKS & CITYSCAPE END -----*/


/*----- FOOTER -----*/

footer {
    background-color: #425363;
    color: white;
    padding: 1em 1em 6% 1em;
}

footer ul {
    display: block;
    width: 100%;
}

footer h2 {
    padding: 5px 0 10px 0;
}
footer li {
    color: #f98d29;
    list-style: square;
    margin-left: 2em;
    padding: .4em;
}

.footer-2-col, .footer-1-col {
    padding-bottom: 1em;
}

.footer-2-col li {
    float: left;
}

#double li  {
     width:38%;
}

.footer-1-col {
    width: 100%;
    float: left;
}

footer a {
    color: white;
    font-size: .7em;
}
/*----- FOOTER END -----*/


/*----- OTHER -----*/

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media only screen and (max-width: 330px) {
    .collapse-elements a {
        font-size: .6em;
    }
    .calendar-tile {
        width: 55px;
        height: 55px;
    }
    .half-width {
        font-size: .7rem;
    }
}

