@media only screen and (min-width: 641px) {

#header-wrapper, #content-wrapper {
    margin: 0 5%;
}
#content-wrapper {
    margin-top: 1em;
}

/*----- NAVIGATION -----*/
.site-nav-mobile {
    display: none;
}

.thin-bar-mobile {
    display: none;
}

#nav-wrapper {
    background-color: #ebebeb;
    padding: 0 5%;
}

nav {
    margin: 0 1em;
}

.primary-nav {
    display: flex;
    text-transform: uppercase;
}
.welcome-user {
    display: none;
}

nav ul {
    justify-content: none;
}

nav ul li {
    padding: 10px 0;
    text-align: center;
    flex-grow: 1;
}
nav ul li:nth-child(3) {
    flex-grow: 1.5;
}
nav ul li:first-child{
    text-align: left;
}
nav ul li:nth-child(4){
    text-align: right;
    flex-grow: 0.5;
}
nav ul li a { 
    display: block;
    color: #000000;
    text-decoration: none;
}

/*-----CONTENT-----*/

.content-container {
    flex-wrap: wrap;
    flex-direction: row;
}

.item-container {
    width: 50%;
}
.item-container:nth-of-type(1) {
    order: 1;
}
.item-container:nth-of-type(2) {
    order: 3;
}
.item-container:nth-of-type(3) {
    order: 2;
}
.item-container:nth-of-type(4) {
    order: 4;
}
.item-container:nth-of-type(5) {
    order: 5;
}
.item-container:nth-of-type(6) {
    order: 6;
}

.tile-item.half-height.bg-color-6 {
    height: 0;
    padding-bottom: 48%;
    overflow: hidden;
    transition: 0.3s;
}

.tile-item.half-height.bg-color-6.open .caret {
    display: none
}

.tile-item.half-height.bg-color-6 .caret {
    display: none;
}
.collapse-header {
    padding-top: .75em;
}
.collapse-header h2 {
   padding: .4em 0 0 .4em;
   position: relative;
   bottom: 3px;
}
.tile-item.collapse-container-full {
    padding-bottom: 100%;
}

.tile-item.collapse-container-full.open .caret {
    display: none;
}

.tile-item.collapse-container-full .caret {
    display: none;
}

/*-----CONTENT END -----*/


/*----- SOCIAL / LINKS / FOOTER -----*/

.social-logos, .skyline-img-container {
    padding: 0 3em;
}

.highlighted-links {
    padding: 1em 3em;
}

.skyline-img {
    width: 500px;
}

footer {
    padding: 1em 3em 4% 3em;
}

 
    
@media only screen and (min-width: 900px) and (max-width: 1139px) {
    body {
        font-size: 19px;
    }
    .calendar-tile {
        width: 68px;
        height: 68px;
        }
}
        
        
        
        
        
        
        
    
    
} /*end of the media query */